{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
  <h2 class="border-bottom py-2">{{ question.subject }}</h2>
  <div class="card my-3">
    <div class="card-body">
      <div class="card-text" style="white-space:pre-line;">
          {{question.content}}
      </div><!-- card-text -->
      <div class="d-flex justify-content-end">
        <div class="badge badge-light p-2 text-left">
          <div class="mb-2">{{ question.author.username }}</div>
          <div>{{question.create_date}}</div>
        </div><!-- badge -->
      </div><!-- d-flex -->
      {% if request.user == question.author %} <!-- 작성자와 로그인 아이디가 같으면 수정 가능 -->
      <div class="my-3">
        <a href="{% url 'pybo:question_modify' question.id %}"
             class="btn btn-sm btn-outline-success">수정</a>
        <a href="#"
           data-uri="{% url 'pybo:question_delete' question.id %}"
             class="delete btn btn-sm btn-outline-warning">삭제</a>
      </div>
      {% else %}
      <div class="my-3">
        <a href="#"
             class="btn btn-sm btn-outline-secondary" disabled >수정</a>
        <a href="#"
             class="btn btn-sm btn-outline-secondary" disabled >삭제</a>
      </div>
      {% endif %}
    </div><!-- card-body -->
  </div><!-- card -->

<h5 class="border-bottom my-3 py-2">{{question.answer_set.count}}개의 답변이 있습니다.</h5>
{% for answer in question.answer_set.all %}
<div class="card my-3">
  <div class="card-body">
    <div class="card-text" style="white-space:pre-line;">
        {{ answer.content }}
    </div><!-- card-text -->
    <div class="d-flex justify-content-end">
      <div class="badge badge-light p-2">
        {{ answer.create_date}}
      </div><!-- badge -->
    </div><!-- d-flex -->
  </div><!-- card-body -->
</div><!-- card -->
{% endfor %}

<form action="{% url 'pybo:answer_create' question.id %}" method="post" class="my-3">
  {% csrf_token%}
  <!-- 오류 메세지 start -->
  {% if form.errors %}
  <div class="alert alert-danger" role="alert">
    {% for field in form %}
      {% if field.errors %}
        <strong>{{ field.label }}</strong>
        {{ field.errors}}
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
<!-- 오류 메세지 end -->
  <div class="from-group">
    <textarea name="content" id="content"
              {% if not user.is_authenticated %}disabled{% endif %}
              class="form-control" rows="10"></textarea>
  </div>
  <input type="submit" value="답변 등록" class="btn btn-primary">
  <a href="/pybo/" class="btn btn-success">질문 목록</a>
</form>
</div><!-- container -->
<script>
  $(document).ready(function(){
    $('.delete').on('click', function(){
          if(confirm('정말로 삭제하시겠습니까?')){
            location.href = $(this).data('uri');
          }
       });
  });
</script>
{% endblock %}