{% extends 'base.html' %}
{% block content %}
<div class="container my-3">

{% if question_list %}
     <table class="table">
     <thead>
       <tr class="thead-dark">
           <th>번호</th>
           <th>제목</th>
           <th>작성일자</th>
       </tr>
     </thead>
         <tbody>
      {% for question in question_list %}
       <tr>
           <td>{{ forloop.counter }}</td>
           <td>
                <a href="{% url 'pybo:detail' question.id %}">
                    {{question.subject}}
                </a>
           </td>
           <td>
               {{question.create_date}}
           </td>
       </tr>
           {% endfor %}
         </tbody>
 </table>

{% else %}
    <p>질문이 없습니다.</p>
{% endif %}

<a href="{% url 'pybo:question_create' %}" class="btn btn-primary">질문 등록하기</a>
</div>

{% endblock %}